#rcorners {
    border-radius: 8px;
    border: 10px solid black;

}

a:link, a:visited{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

p {
    font-size: 60px;
}

a:hover,
a:active {
    background-color: rgb(215, 215, 215);
    text-decoration: dashed;
    padding: 0.5em;
    border-radius: 0.2em;
}

header{
    margin-bottom: 9em;
}

body {
    font-family: sans-serif;
    padding: 4em;
    font-size: 24px;
}

footer{
    margin-top: 11em;
}

hr {
    border: 1px solid rgb(246, 246, 246);
    
}

h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    font-size: small;
    /* height: 657px; */
    width: 40em;
    min-width: 40em;
    column-gap: 2em;
    align-content: space-between;
    /* Distribute space evenly, with first and last items aligned to top and bottom */
}

.dayContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.conatiner2x1 {
    display: flex;
    align-items: stretch;
    gap: 50px;
    /* Ensuring the container has the same height as the image */
    height: 657px;
}

.conatiner2x1HF {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

}

.item {

    /* text-align: start; */
    /* border: 1px solid black; */

}

.menuIcon {
    font-size: xx-large;
    cursor: pointer;
    padding: 0.5em;
}


.itemRightJustify {
    text-align: right;
    /* align-items: right;
    align-content: right; */
}

.span-2 {
    grid-column: span 2;
}

.span-4 {
    grid-column: span 4;
}



.informationCollection {
    margin-bottom: -2em;
}

input[type=text] {
    width: 100%;
    height: 48px;
    border: 1px solid lightgray;
    border-radius: 8px;
    margin-top: 12px;
}

input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 8px;
    height: 60px;
    font-size: 20px;
    font-weight: 300;

}

input[type=reset] {
    width: 100%;
}

#favNumber {
    margin-top: 10px;
}

#colors {
    margin-top: 10px;
}

#me {
    width: 100%;
    max-height: 657px;
}